---
import Layout from '../../layouts/Layout.astro'
---
<Layout title='Salud'>
<main>
        <section class="hero">
            <img src="/subcategoria/medicina.png" alt="Medicina-20240703-194003-0000" class="hero-image">
        </section>
        <!-- Categorías Section -->
        <section class="categories">
                <a href="" class="category">
                    <img src="https://i.ibb.co/YWZ2jfk/Dise-o-sin-t-tulo-20240704-193908-0000-removebg-preview.png" alt="Icono-pediatria" >
                    <p>Pediatria</p>
                </a>

                <a href="/seleccionar servicio/index.html" class="category">
                    <img src="https://i.ibb.co/pxf3sZD/Dise-o-sin-t-tulo-20240704-193535-0000-removebg-preview.png" alt="icono-psicolog-a" >
                    <p>Psicologos</p>
                </a>

                <a href="../seleccion-servicio-odont" class="category">
                    <img src="https://i.ibb.co/f8Kbv3S/Dise-o-sin-t-tulo-20240704-193453-0000-removebg-preview.png"  alt="Odontologia" >
                    <p>Odontologia</p>
                </a>

                <a href="/seleccionar servicio-estetica/index.html" class="category" >
                    <img src="https://i.ibb.co/Bgsrr5t/Dise-o-sin-t-tulo-20240704-193654-0000-removebg-preview.png" alt="Iconos-oftalmolog-a"  >
                    <p>Oftalmologia</p>
                </a>

                <a href="/seleccionar servicio-comida/index.html"  class="category" >
                    <img src="https://i.ibb.co/SyfwP7k/cono-neumologia.png" alt="cono-neumologia">
                    <p>Neumonologia</p>
                </a>
        </section>
</Layout>
<style>
/* Hero Section */
.hero {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 60px;
}
.hero img{
    width: 60%;
}


    /* Categories Section */
.categories {
    display: grid;
    width: 60%;
    margin: 3rem auto;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.category {
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
    height: 150px;
    max-width: 300px;
    display: flex;
    box-shadow: 0 0 10px 0 #00000036;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category:hover {
    transform: scale(1.05);
}

.category p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.category img{
    width: 70px;
}

@media(max-width: 600px){
    .hero img{
        width: 100%;
    }
    .categories{
        gap:4rem ;
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width: 1200px){
    .categories{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 600px){
    .categories{
        grid-template-columns: repeat(1,1fr);
    }
}
</style>
