---
import Layout from '../layouts/Layout.astro'
---


<Layout title='Categoria'>
    <div id="main-content">
        <main>
            <section class="hero">
                <img src="/servicios/Servicios.jpg" alt="El solar de rosa" class="hero-image">
            </section>
            <!-- Categorías Section -->
            <section class="categories">
                    <a href="" >
                        <img src="/servicios/Servicio-hogar.jpg" alt="Imagen-Hogar" class="category">
                    </a>

                    <a href="./subcategoria/subcategoria-salud" >
                        <img src="/servicios/Servicio-salud.jpg" alt="Imagen-salud" class="category">
                    </a>

                    <a href="" >
                        <img src="/servicios/Servicio-auto.jpg" alt="Imagen-automotriz" class="category">
                        
                    </a>

                    <a href="/seleccion-servicio-estetica" >
                        <img src="/servicios/Servicio-estetica.jpg" alt="Imagen-estetica" class="category">
                    </a>

                    <a href="seleccion-servicio-comida" >
                        <img src="/servicios/Servicio-comida.jpg" alt="Imagen-comida" class="category">
                    </a>

            </section>
        </main>
</Layout>

<style>
/* Hero Section */
.hero {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 60px;
}

.hero img {
    width: 50%;

}

/* Categories Section */
.categories {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    gap: 7rem ;
}

.category {
    border-radius: 10px;
    background-size: cover;
    text-align: center;
    flex: 1;
    box-shadow: 0 0 10px 0 #0007;
    min-width: 200px;
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
    align-items: center;
}


.category:hover {
    transform: scale(1.05);
}

.category p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

/* Responsive adjustments for nav */
@media (max-width: 850px) {

    .categories,
    .services {
        flex-direction: row;
        align-items: center;
    }

    .service {
        max-width: 90%;
    }

    .categories{
        gap:2.5rem;
    }
    .partner-logos {
        flex-direction: column;
        align-items: center;
    }

    .nav__search-b{
        display: none;
    }

    .hero img{
        width: 100%;
    }
}
</style>