---
import Layout from '../layouts/Layout.astro';
import '../styles/StylesGlobal.css'
import Hero from '../components/Hero.astro'
---

<Layout title="Todoklick">
	<main>
		
    </head>
    <body>
    
        <!-- Banner Superior -->
            <Hero>

            </Hero>
            

    
        <!-- Nuestras Opciones -->
        <section class="nuestras-opciones">
            <h2>Nuestras opciones</h2>
            <div class="opciones-container">
                <a href="/categoria" class="opcion">
                    <img src="/categoria.webp" alt="Outlet">
                </a>
                <a href="" class="opcion">
                    <img src="/1.webp" alt="">
                </a>
                <a href="" class="opcion">
                    <video id="myVideo" src="Banner21.webm" autoplay loop ></video>
                </a>
                <a href="/aboutUs" class="opcion">
                    <img src="/1.webp" alt="50% en la 2ª unidad">
                </a>
            </div>
        </section>
    
        <!-- Servicios Destacados -->
        <section class="servicios-destacados">
            <h2>Servicios destacados</h2>
            <div class="servicios-container">
                <a href="./subcategoria/subcategoria-salud" class="servicio">
                    <img src="/1.webp" alt="Novedades en restaurantes">
                </a>
                <a href="" class="servicio">
                    <img src="/Mecanica.png" alt="Liquidaciones en hogar">
                </a>
                <a href="" class="servicio">
                    <img src="/3.webp" alt="Campaña Exclusiva">
                    
                </a >
            </div>
        </section>
    
        <!-- Formas de Ahorrar -->
        <section class="formas-de-ahorrar">
            <h2>Formas de ahorrar con <br><span>TodoKlick</span></h2>
            <div class="formas-container">
                <article>
                    <div class="forma">
                        <img src="https://i.ibb.co/YNH5xZr/IMG-20240621-WA0098.jpg" alt="Marca PH">
                    </div>
                        <h3>Marca TK.</h3>
                        <p>Servicios de calidad al mejor precio.</p>
                </article>
                <article>
                    <div class="forma">
                        <img src="https://i.ibb.co/7WqPFmL/IMG-20240621-WA0097.jpg" alt="Promociones">
                    </div>
                        <h3>Promociones</h3>
                        <p>Promociones mensuales.</p>
                </article>
                <article>
                    <div class="forma">
                        <img src="https://i.ibb.co/tcmW6sX/IMG-20240621-WA0094.jpg" alt="Dto por cantidad">
                    </div>
                        <h3>Servicios por cantidad.</h3>
                        <p>Ahorra con Servicios especiales.</p>
                </article>
                <article>
                    <div class="forma">
                        <img src="https://i.ibb.co/qNBc8sd/IMG-20240621-WA0092.jpg" alt="¿Eres nuevo?">
                    </div>
                        <h3>¿Eres nuevo?</h3>
                        <p>Envío gratis al unirte a nuestra newsletter.</p>
                </article>
            </div>
        </section>
        <script>
            // const video = document.getElementById('myVideo');
            
           
            // video.addEventListener('mouseenter', function() {
            //     video.play();
            // });

            // video.addEventListener('mouseleave', function() {
            //     video.pause();
            //     video.currentTime = 0; // Opcional: Reinicia el video cuando se detiene
            // });
        
        </script>
        <style>
            /* Reset básico */
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: Arial, sans-serif;
            }
    
            body {
                color: #333;
            }
    
           
    
            .banner-content p {
                font-size: 16px;
                margin-bottom: 20px;
            }
    
            .banner-content button {
                background-color: #ffa000;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
            }
    
            /* Secciones */
            .nuestras-opciones, .servicios-destacados, .formas-de-ahorrar {
                margin: 20px;
            }
    
            .nuestras-opciones h2, .servicios-destacados h2 {
                font-size: 2.5rem;
                color: #111;
                margin: 2em 0 1em 0
            }
    
            .formas-de-ahorrar h2 {
                font-size: 2.5rem;
                color: #080808;
                margin: 2em 0 1em 0; 
                text-align: center;
                text-shadow: 0 0 1.5rem #ccc;
            }

            .formas-de-ahorrar span{
                color: #49b;
            }
    
            /* Contenedores */
            .opciones-container{
                display: flex;
                gap: 20px;
                justify-content: center;
                
            }
            .formas-container {
                display: grid;
                grid-template-columns: repeat(4, 200px);
                justify-content: center;
                gap: 3rem;
            }

            article > h3,p{
                text-align: center;
                margin: 0.5rem;
            }
            
            .servicios-container{
                display: flex;
                gap: 2.5em;
                justify-content: center;
                flex-wrap: wrap;
            }

            /* Elementos de "Nuestras opciones" y "Servicios destacados" */
            .opcion{
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                text-align: center;
                width: 500px;
                transition: all .3s ease;

                &:hover{
                    transform: scale(1.05);
                }
            }

            .opciones-container:hover .opcion:not(:hover), .servicios-container:hover .servicio:not(:hover) {
            transform: scale(0.95); 
            opacity: 0.7; 
        }

            .servicio {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                text-align: center;
                width: 500px;
                transition: all .3s ease;
                &:hover{
                    transform: scale(1.05);
                }
            }
    
            .opcion img, .servicio img {
                width: 100%;
                height: 100%; /* Hace que la imagen ocupe todo el contenedor*/
                object-fit: cover; /*Hace que la imagen cubra el contenedor sin distorsionarse */
                border-radius: 8px;
            }

            .opcion video {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Hace que la imagen ocupe todo el contenedor*/ /*Hace que la imagen cubra el contenedor sin distorsionarse */
            }

    
            .forma {
                background-color: #f6ebe5;
                padding: 2rem;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.3);
                text-align: center;
            }
    
            .forma img {
                width: 50%; /* Ajusta este valor si quieres las imágenes más grandes o pequeñas */
                border-radius: 8px;
                margin-bottom: 10px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            video{
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 10px;
            }
            /* Responsividad */

            @media(max-width: 768px) {
                .nuestras-opciones h2{
                    margin-left: 20px;
                }
                .opciones-container{
                    flex-wrap: wrap;
                }
            .formas-container {
                grid-template-columns: repeat(1, 200px);
            }
                .forma img {
                    width: 30%;
                }
            }
        </style>
