---
import Layout from '../layouts/Layout.astro';
import Card from '../components/card-servicio.astro'
import '../styles/StylesGlobal.css'

import CardInfo from '../components/card-info.astro'
---

<Layout title='Servicio-odontologia'>
    <div id="main-content">
        <main>
            <section class="hero">
                <img src="https://i.ibb.co/XpXsfJW/IMG-20240609-WA0019.jpg" alt="El solar de rosa" class="hero-image">
            </section>
            <!-- Content Section -->
            <section class="profiles">
                <!--Obligatorio los atributos -->
                <Card 
                href="/cliente/dra.medina"
                nombre="Dra. Veriosca Medina"
                descripcion="Especialista en el cuidado para los más consentidos de la casa. Profesional en el tratamiento con los pacientes pequeños así como también les brinda mucha confianza."
                profesion="Odontólogo"
                src="/cliente/dra.medina/img1.png" />

                <Card
                href="/cliente/clinica veneto"
                nombre="Clínica Vento Odontología"
                descripcion="En Vento Odontología, entendemos que una sonrisa hermosa va más allá de la estética; es una ventana a su bienestar general. Por eso, nuestro equipo de profesionales altamente calificados está dedicado a asegurar que cada tratamiento sea personalizado, utilizando técnicas de vanguardia para prevenir, diagnosticar y tratar cualquier infección dental con la máxima precisión. "
                profesion="Odontólogo"
                src="/cliente/clinica veneto/principal.png" />
                
                <Card
                href="/cliente/od.mariangel"
                nombre="Od. Mariangel Mogollon"
                descripcion="Soy la Dra. Mariangel Mogollón, una apasionada odontóloga con años de experiencia en cuidado bucal. Mi enfoque se basa en brindar tratamientos personalizados y de alta calidad para cada paciente. ¡Agenda tu cita hoy mismo!"
                profesion="Odontólogo"
                src="/cliente/od.mariangel/principal.jpg"  />

                <CardInfo 
                title="¿Te gustaría que tu emprendimiento aparezca en nuestra página web?" 
                descrip="Si buscas una forma eficaz de promover tu negocio, nos especializamos en ofrecer servicios que ayudan a emprendedores como tu, a publicar y promocionar sus proyectos en nuestra plataforma."/>
                <!-- Repeat similar profile blocks as needed -->
            </section>
        </main>

</Layout>
<style>

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .profiles {
        flex-direction: row;
        align-items: center;
    }

    .profile {
        max-width: 90%;
    }
}
</style>
