---
import Layout from '../layouts/Layout.astro';
import Card from '../components/card-servicio.astro'
import '../styles/StylesGlobal.css'
import CardInfo from '../components/card-info.astro'
---

<Layout title='Servicio-restaurante'>
    <div id="main-content">
        <main>
            <section class="hero">
                <img src="/subcategoria/comida.png" alt="El solar de rosa" class="hero-image">
            </section>
            <!-- Content Section -->
            <section class="profiles">
                <!--Obligatorio los atributos -->
                <Card 
                href="/cliente/Rest.Solar"
                nombre="El Solar de Rosa"
                descripcion="El Solar de Rosa, un rincón culinario donde los sabores criollos se entrelazan con la nostalgia y la sazón de antaño. Aquí, los aromas de la abuela y la tradición se fusionan en cada bocado."
                profesion="Restaurante"
                src="/cliente/ElSolar/LogoSolar.png" />

                <CardInfo 
                title="¿Te gustaría que tu emprendimiento aparezca en nuestra página web?" 
                descrip="Si buscas una forma eficaz de promover tu negocio, nos especializamos en ofrecer servicios que ayudan a emprendedores como tu, a publicar y promocionar sus proyectos en nuestra plataforma."/>
                <!-- Repeat similar profile blocks as needed -->
            </section>
        </main>

</Layout>
<style>
.hero {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 60px;
}

.hero img{
    width: 80%;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .profiles {
        flex-direction: row;
        align-items: center;
    }

    .profile {
        max-width: 90%;
    }
    
    .hero img{
        width: 100%;
    }


}
</style>
