---
import Layout from "../../layouts/Layout.astro";

const insta = "elsolarderosa"
---

<Layout title=`Todoklick-${insta}`>
    <div id="main-content">
        <main>
            <section class="profile">
                <div class="profile-header">
                    <div class="profile-header-content">
                        <h1>Rest. El Solar de Rosa</h1>
                        <p>El Solar de Rosa, un rincón culinario donde los sabores criollos se entrelazan con la nostalgia y la sazón de
                            antaño. Aquí, los aromas de la abuela y la tradición se fusionan en cada bocado. ¿Estás listo para un viaje gastronómico que despierte tus sentidos? </p>
                    </div>
                    <img src="/cliente/ElSolar/Solar1.jpg" alt="Rest. El solar de rosa" class="profile-image">
                </div>
            </section>

            <section class="services">
                <h2>Servicios</h2>
                <div class="service-carousel">
                    <button class="carousel-btn prev-btn" id="prevBtn">&#10094;</button>
                    <div class="service-container">
                        <div class="service-item">
                            <img src="/cliente/ElSolar/Solar2.jpg "  alt="Cachapa con cochino y chorizo">
                            <div class="service-info">
                                <h3>Cachapa con cochino y chorizo</h3>
                                <p>Cachapa con Chochino y Chorizo, un deleite culinario que combina lo mejor de la tradición venezolana con un toque de audacia. Aquí, el maíz dulce se transforma en una suave masa que abraza el sabor intenso del chochino y la picante esencia del chorizo. ¿Estás listo para sumergirte en esta explosión de sabores?</p>
                            </div>
                        </div>
                        <div class="service-item">
                            <img src="/cliente/ElSolar/Solar4.jpg" alt="Pabellón Criollo">
                            <div class="service-info">
                                <h3>Pabellón Criollo</h3>
                                <p>El Pabellón Criollo del Solar de Rosa, un auténtico festín que te transportará a los rincones más sabrosos de Venezuela.
                                    En este plato, la carne mechada se deshace en suculentas hebras, impregnadas de especias y amor. Las caraotas negras, se entrelazan con el arroz blanco, creando una sinfonía.</p>
                            </div>
                        </div>
                        <div class="service-item">
                            <img src="/cliente/ElSolar/Solar3.jpg" alt="Parrilla Mar y Tierra">
                            <div class="service-info">
                                <h3>Parrilla Mar y Tierra</h3>
                                <p>La Parrilla Mar y Tierra del Solar de Rosa, un deleite que fusiona los sabores terrestres y marinos en un baile culinario.
                                    Aquí, la carne de res se deshace en suculentas hebras. Los camarones, como joyas del mar, se suman a la fiesta, y los mejillones aportan su carácter. Las cebollas y los pimentones, salteados con maestría, añaden un toque de frescura.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-btn next-btn" id="nextBtn">&#10095;</button>
                </div>
            </section>

            <section class="contact-info">
                <div class="contact-item">
                    <h3>Excelente servicio</h3>
                    <p>Excelente atención y cómodas
                        instalaciones, destacando su autentico e increíble sabor de los platos con los
                        ingredientes de la mas alta calidad.</p>
                </div>
            </section>

            <section class="appointment">
                <h2>Agenda tu cita con nosotros</h2>
                <div class="contact-methods">
                    <div class="contact-method">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                        </svg> 
                        <p>0412-5910684 / 0414-0735757</p>
                    </div>
                    <div class="contact-method">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                          </svg>
                        <p>todoclickservicios@gmail.com</p>
                    </div>
                </div>
            </section>

            <section class="location">
                <h2>Ubicación y redes</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.591794811865!2d-69.20942331767881!3d9.54414790000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e7dc19d21599d91%3A0x8565c50eff88fa88!2sSolar%20de%20la%20Rosa!5e0!3m2!1ses!2sve!4v1719275823459!5m2!1ses!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Restaurante El Solar de Rosas<br>Calle 31 sector El Palito a 50 metros de Diapeca, Acarigua</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
                </svg>
                <a href=`https://instagram.com/${insta}` target="_blank" rel="noreferrer noopener"> @{insta}</a>
            </section>
        </main>
</Layout>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const prevBtn = document.getElementById("prevBtn");
    const nextBtn = document.getElementById("nextBtn");
    const serviceContainer = document.querySelector(".service-container");
    let scrollAmount = 0;

    prevBtn.addEventListener("click", () => {
        serviceContainer.scrollBy({
            top: 0,
            left: -340,
            behavior: "smooth",
        });
    });

    nextBtn.addEventListener("click", () => {
        serviceContainer.scrollBy({
            top: 0,
            left: 340,
            behavior: "smooth",
        });
    });
});
</script>

<style>

:root{
    --color-principal:#0D4FA6;
    --color-secundario: #adac04;

}

    /* Profile Section */
.profile {
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(135deg, var(--color-principal) 0%, var(--color-secundario) 100%);
    color: white;
    text-align: left;
    border-radius: 0 0 10px 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    font-weight: 600;
    font-size: large;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-header-content {
    max-width: 50%;
}

.profile-image {
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
        text-align: center;
    }

    .profile-header-content {
        max-width: 100%;
    }

    .profile-image {
        margin: 20px 0 0 0;
        width: 100%;
        height: auto;
    }
}

/* Services Section */
.services {
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}
.services h2{
    font-size: 1.8rem;
}

.service-carousel {
    position: relative;
    display: flex;
    align-items: center;
}

.service-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.service-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    min-width: 300px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.service-item:hover {
    transform: scale(1.05);
}

.service-item img {
    width: 60%;
    height: auto;
    border-radius: 10px;
}

.service-info {
    margin-top: 10px;
}

.service-info h3 {
    margin: 10px 0 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.service-info p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Contact Info Section */
.contact-info {
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(135deg, var(--color-principal) 0%, var(--color-secundario) 100%);
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-around;
    gap: 20px;
}

.contact-item {
    max-width: 250px;
}

/* Appointment Section */
.appointment {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(135deg, var(--color-principal) 0%, var(--color-secundario) 100%);
    border-radius:10px;
    color: white;
}

.appointment h2 {
    margin: 20px 0;
    font-size: 1.7rem;
}

.appointment p{
    font-weight: bold;
}

.contact-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact-method {
    display: flex;
    align-items: center;
    margin: 10px;
}

.contact-method svg {
    margin: 0 .5rem;
}

.contact-method p {
    margin: 0;
    font-size: 18px;
}

/* Location Section */
.location {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.location h2 {
    margin: 20px 0;

}

.location iframe {
    border: 0;
    width: 70%;
    border-radius: 10px;

}


.location a{
    display: inline-block;
    text-decoration: none;
    color: #333;
    transform: translateY(-10px);

}

/* Responsive adjustments for profile and services sections */
@media (max-width: 600px) {
    .profile-header {
        flex-direction: column;
        text-align: center;
    }

    .service-carousel {
        flex-direction: column;
        align-items: center;
    }

    .contact-methods {
        flex-direction: column;
    }

    .contact-method img {
        margin-bottom: 10px;
    }

    .contact-method p {
        text-align: center;
    }
}

</style>
