---
const {nombre, src, job} = Astro.props
---

<section>
    <img src={src} alt="Team Member 1">
    <div class="member">
        <h3>{nombre}</h3>
        <p>{job}</p>
        <div class="more-info">
            <slot/>
        </div>
    </div>

</section>

<style>
    *{
        padding: 0;
        box-sizing: border-box;
        text-align: center;
    }

    .member {
    margin: 20px;
    background-color: #49b;
    min-width: 350px;
    height: 250px;
    border-radius: 1rem;
    overflow: hidden;
    padding-top:10rem ;
    transition: all .2s ease-in-out;
    transition-delay: 0s;
    color: aliceblue;
}

img{
    border-radius: 50%;
    width: 150px;

}
section{
    position: relative;
}

section img{
    position: absolute;
    left: 32%;
}
.member:hover{
    height: 24rem;
    box-shadow: 0 0 2rem #ccc;
}
.member:not(:hover){
    transition-delay: .5s;
}

.more-info{
    background-color:  #3b84a1;
    border-radius: 1rem 1rem 0 0;
    height: 100%;
    padding: 5px;

}

@media (max-width: 768px){
    .member{
        min-width: 280px;
        height: 24rem;
}
section img{
    position: absolute;
    left: 25%;
}
}

</style>