---

---


<slot >
    <div class="hero">
        <ul>
            <li>
                <a href="/cliente/dra.medina">
                    <img src="/hero/hero6.1.webp" alt="" class="hero-image">
                </a>
            </li>
            <li>
                <a href="/clinica veneto">
                    <img src="/hero/Mecanica" alt="" class="hero-image">
                </a>
            </li>
            <li>
                <a href="/clinica veneto">
                    <img src="/hero/hero.webp" alt="" class="hero-image">
                </a>
            </li>
        </ul>
    </div>
</slot>
<script>

</script>

<style>
*{
    margin: 0;
    padding: 0;
}
.hero {
    width: 100%;
    height: auto;
    margin: auto;

    overflow: hidden;
    
}




.hero ul{
    display: flex;
    width: 300%;
    animation: slide 15s infinite alternate ease-in-out;
}

.hero li{
    width: 100%;
    list-style: none;
}

.hero img{
    width: 100%;
}


@keyframes slide{
    0%{margin-left: 0;}
    35%{margin-left: 0;}

    45%{margin-left: -100%;}
    50%{margin-left: -100%;}
    70%{margin-left: -100%;}

    75%{margin-left: -200%;}
    100%{margin-left: -200%;}
}

@media (max-width:850px){
    .hero{
        width: 100%;
        margin: auto;

        overflow: hidden;
    }
    .hero ul{
        display: flex;
        width: 300%;
    }
}
</style>