---

---


<footer>
    <p>&copy; 2024 TodoClick. Todos los derechos reservados.
    </p>
</footer>

<style>
    
footer {
    
    text-align: center;
    padding: 20px;
    background-color: var(--color-principal);
    color: white;
}
</style>